/*Adição da fonte Montserrat ao programa */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
/* Zerando o padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--peso);
  user-select: none;
}
:root {
  --fundo: linear-gradient(241.29deg, #111111 10.31%, #1a1919 93.41%);
  --texto: white;
  --botao: linear-gradient(257.91deg, #9e38e1 17.54%, #e0386b 72.93%);
  --botaoTxt: white;
  --input-fundo: white;
  --peso: 300;
  --fundoTranparencia: rgba(32, 32, 32, 0.92);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--fundo);
  color: var(--texto);
  overflow-x: hidden;
}

textarea::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: #232323;
  border-radius: 20px; /* color of the tracking area */
}

textarea::-webkit-scrollbar-thumb {
  background-image: var(--botao); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}
body::-webkit-scrollbar {
  background: var(--botao);
  height: 5px; /* width of the entire scrollbar */
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--fundo);
  border-radius: 20px; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-image: var(--botao); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}

.inputs {
  margin-top: 5px;
  width: 95%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#HTML_input, #JS_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#HTML_input h2, #JS_input h2{
  font-weight: 300;
  color: #333333;
  
}

.js,
.html {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  transform: scale(100%);
  min-width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 85vw;
  max-height: 95vh;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--fundoTranparencia);
  border-radius: 12px;
  border: 2px solid rgba(117, 117, 117, 0.125);
  transition: 0.2s;
}
.expandirCriar main {
  margin-left: 20%;
}
.expandir main {
  margin-left: 20%;
}

.CodeMirror {
  font-size: 15px;
  border-radius: 15px;
  padding: 2px;
  width: 35vw;
  min-width: 40vw;
  min-height: 60vh;
}

.CodeMirror * {
    font-family: 'Fira Code';
    font-weight: 300;
    font-size: 14px;
  }

#btnSubmit {
  width: 60px;
  height: 60px;
  min-height: 60px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  background: var(--botao);
  border-radius: 12px;
  padding: 10px;
  margin-top: 5%;
  transition: 0.2s;
  color: white;
  font-weight: 500;
  border-style: none;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}
#btnSubmit:hover {
  transform: scale(110%);
}


:root {
  --corFundo: var(--botao);
  --corFundoCriar: var(--botao);
}
.expandir:root {
  --corFundo: var(--fundoTranparencia);
}
.expandirCriar:root {
  --corFundoCriar: var(--fundoTranparencia);
}

.instrucoes {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 60px;
  top: 22vh;
  left: 0px;
  background: var(--botao);
  border-radius: 0px 10px 10px 0px;
  transition: 0.2s;
  cursor: pointer;
}
.expandir .instrucoes {
  background: var(--corFundo);
}
.criarElemento {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 60px;
  top: 10vh;
  left: 0px;
  background: var(--botao);
  border-radius: 0px 10px 10px 0px;
  transition: 0.2s;
  cursor: pointer;
}
.expandirCriar .criarElemento {
  background: var(--corFundoCriar);
}
.criarElemento:hover {
  width: 65px;
}
.expandirCriar .criarElemento .iconeCriar {
  display: none;
}
.expandirCriar .criarElemento:hover {
  width: 350px;
}
.expandirCriar .criarElemento {
  width: 350px;
  height: 180px;
  cursor: initial;
  align-items: flex-start;
  backdrop-filter: blur(10px) saturate(177%);
  -webkit-backdrop-filter: blur(16px) saturate(177%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}

.expandirCriar .instrucoes {
  top: 45vh;
}

.expandirCriar .criarElemento .textosCriar {
  color: var(--texto);
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 250px;
  margin-left: 25px;
  margin-top: 15px;
  user-select: none;
  transition: 1s;
}
.iconeCriar {
  display: initial;
  width: 30px;
  transition: 0.3s;
  transform: scale(80%);
}

.criarElemento #selectElement {
  width: 150px;
  height: 25px;
  background: #d9d9d9;
  border-radius: 15px;
  text-align: center;
}
.criarElemento #selectAtribute {
  width: 60px;
  height: 25px;
  background: #d9d9d9;
  border-radius: 15px;
  text-align: center;
}
.criarElemento h1 {
  font-size: 1.5rem;
}
.flexrow {
  display: flex;
  flex-direction: row;
}
input:nth-child(2) {
  text-align: center;
  background: #d9d9d9;
  border-radius: 15px;
  width: 75px;
  height: 25px;
}

input:nth-child(3) {
  text-align: center;
  background: #d9d9d9;
  border-radius: 15px;
  width: 150px;
  height: 25px;
}
.textosCriar div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.textosCriar div div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#btnCriar,
#btnCopiar,
#btnSalvar,
#btnDownload,
#btnUpload,
#btnEditar,
#btnDelete {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  background: var(--botao);
  border-radius: 50%;
  margin-top: 1%;
  transition: 0.2s;
  color: white;
  font-weight: 500;
  border-style: none;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}
#btnCriar:hover,
#btnCopiar:hover,
#btnSalvar:hover,
#btnDownload:hover,
#btnUpload:hover,
#btnEditar:hover,
#btnDelete:hover {
  transform: scale(110%);
}

#btnSalvar img {
  filter: contrast(100);
  width: 30px;
}
#btnUpload img,
#btnDelete img,
#btnEditar img,
#btnDownload img {
  filter: contrast(100);
  width: 25px;
}

#btnCriar img, #btnCopiar img {
  filter: contrast(100);
  width: 35px;
}

.textosCriar {
  display: none;
}
.instrucoes:hover {
  width: 65px;
}

.expandir .instrucoes .icone {
  display: none;
}
.expandir .instrucoes:hover {
  width: 350px;
}
.expandir .instrucoes {
  width: 350px;
  height: 290px;
  cursor: initial;
  align-items: flex-start;
  backdrop-filter: blur(10px) saturate(177%);
  -webkit-backdrop-filter: blur(16px) saturate(177%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}
.expandir .instrucoes .textos {
  color: var(--texto);
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 250px;
  margin-left: 25px;
  margin-top: 15px;
  user-select: none;
  transition: 1s;
}
.voltar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  left: 25px;
  width: 25px;
  height: 25px;
  background: var(--botao);
  border-radius: 50%;
  transition: 1s;
  cursor: pointer;
}
.voltar img {
  width: 15px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.icone {
  display: initial;
  width: 30px;
  transition: 0.3s;
  transform: scale(80%);
}

.textos {
  display: none;
}

.btnLimpaHTML {
  position: absolute;
  left: 3%;
  top: 13%;
  width: 900px;
  align-items: center;
}

.btnLimpaHTML img {
  transform: rotate(45deg);
}

.btnLimpaJS {
  position: absolute;
  right: 3%;
  top: 13%;
  width: 900px;
  align-items: center;
}

.btnLimpaJS img {
  transform: rotate(45deg);
}

#copiadoAlert {
  transform: translateY(-40px);
  z-index: -100;
  align-items: center;
  display: flex;
  opacity: 0;
  justify-content: center;
  left: 30%;
  position: absolute;
  height: 15%;
  width: 100px;
  backdrop-filter: blur(10px) saturate(177%);
  -webkit-backdrop-filter: blur(16px) saturate(177%);
  border: 1px solid rgba(21, 253, 0, 0.253);
  border-radius: 15px;
  transition: 0.3s;
}

#copiadoAlert h1 {
  font-size: 0.9rem;
}

.card {
  position: absolute;
  right: 45px;
  top:55px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  padding: 5px;
  background-image: var(--botao);
  transition: 0.2s;
}
.botoesAba {
  margin-top: 15px;
  transform: scale(0%);
  transition: .3s;
  display: flex;
  justify-content: space-evenly;
  gap:30px;
}
.card:hover .botoesAba{
  transform: scale(100%);
}

.card__content button:nth-child(1) {
  transform: scale(0%);
  opacity: 0;
}
.card__content button:nth-child(2) {
  transform: scale(0%);
  opacity: 0;
}
.card__content button:nth-child(3) {
  transform: scale(0%);
  opacity: 0;
}

.card__content label {
  transform: scale(0%);
  opacity: 0;
}
.card__content h2 {
  margin-top: 5px;
  transform: scale(0%);
  transition: 0.3s;
  opacity: 0;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(20, 20, 20);
  border-radius: 17px;
  width: 100%;
  height: 100%;
}

.card:hover {
  width: 300px;
  height: 450px;
}

.card:hover button {
  transform: scale(100%);
  opacity: 1;
}
.card:hover label {
  transform: scale(100%);
  opacity: 1;
}
.card:hover h2 {
  transform: scale(100%);
  opacity: 1;
}

.card #ulContainer {
  margin-top: 5px;
  height: 75%;
  width: 0px;
  border-radius: 15px;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.2s;
  padding: 10px;
}

.card:hover #ulContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: scale(100%);
  opacity: 1;
}

#ulContainer div {
  width: 98%;
  min-height: 45px;
  display: flex;
  align-items: center;
  background-image: var(--botao);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
#ulContainer div:hover {
  transform: scale(105%);
}

#ulContainer::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
}

#ulContainer::-webkit-scrollbar-track {
  background: black;
  border-radius: 20px; /* color of the tracking area */
}

#ulContainer::-webkit-scrollbar-thumb {
  background-image: var(--botao); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}

.cardTela,
.cardEditar {
  display: none;
  position: absolute;
  z-index: 10000;
  width: 400px;
  height: 254px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: var(--botao);
}

.card__contentTela,
.card__contentEditar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--fundo);
  border-radius: 17px;
  width: 100%;
  height: 100%;
}
.card__contentTela h2,
.card__contentEditar h2 {
  margin-bottom: 20px;
}

#btnConfirmaSave {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  align-items: center;
  background: var(--botao);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: 5%;
  transition: 0.2s;
  color: white;
  font-weight: 500;
  border-style: none;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}
#btnConfirmaSave:hover {
  transform: scale(110%);
}

#saveName {
  height: 50px;
  width: 250px;
  font-size: 1.5rem;
}

#newSaveName {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 50px;
  width: 250px;
  font-size: 1.5rem;
  border-radius: 15px;
}

#btnUpload input {
  display: none;
}

#smartCodeLogo {
  position: absolute;
  z-index: -5;
  rotate: 90deg;
  right: -7%;
  top: 28%;
  user-select: none;
}

#smartCodeLogo h1 {
  font-weight: 500;
  font-size: 3.5rem;
  background-color: #000000;
  background-image: var(--botao);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  user-select: none;
}

.expandir #smartCodeLogo {
  opacity: 0;
  display: none;
}
.expandirCriar #smartCodeLogo {
  opacity: 0;
  display: none;
}
#criador {
  opacity: 0;
  font-size: 1rem;
  position: absolute;
  bottom: 15px;
  right: 20px;
  transition: 1s;
  user-select: none;
}
#criador:hover {
  opacity: 1;
}

@media (max-width: 1281px) {
  #smartCodeLogo {
    display: none;
  }
}

#projectTitle {
  text-align: center;
  border-style: none;
  width: 450px;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  top: 15px;
  background-color: #000000;
  background-image: var(--botao);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  user-select: none;
}

.card__contentEditar div {
  display: flex;
  gap: 20px;
}

.seletorCor {
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  left: 10px;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  padding: 2px;
  box-shadow: rgba(252, 65, 211, 0.2) 0 15px 30px -5px;
  background-image: var(--botao);
  transition: 0.2s;
}

@keyframes turn{
  from{
transform: rotate(0deg);
  }
  to{
transform: rotate(360deg);
  }
}
.seletorCorFundo {
  z-index: 1000;
  position: absolute;
  bottom: 10px;
  left: 55px;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  padding: 2px;
  background-image: var(--botao);
  transition: 0.2s;
}
.seletorBtnFundo {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--fundo);
  border-style:none;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.seletorBtn {
  border-style: solid;
  border-color: var(--fundo);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--botao);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.seletorCor:hover,
.seletorCorFundo:hover {
  transform: scale(110%);
}

.circle,
.ring {
  height: 180px;
  position: fixed;
  top: 25%;
  z-index: 10000;
  width: 180px;
}

.circle {
  margin: 0 auto;
}

.ring {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: scale(0.1) rotate(-270deg);
  -moz-transform: scale(0.1) rotate(-270deg);
  -transform: scale(0.1) rotate(-270deg);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open .ring {
  opacity: 1;

  -webkit-transform: scale(1) rotate(0);
  -moz-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

.center {
  cursor: pointer;
  background-image: var(--botao);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  color: white;
  height: 45px;
  left: 0;
  z-index: 10000;
  line-height: 80px;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 10px;

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.center:hover {
    transform: scale(120%);
}


.open .center {
  border-color: #aaaaaa;
}

.menuItem {
  border-radius: 50%;
  color: #eeeeee;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  width: 40px;
}
.color {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transform: scale(0%);
  transition: 0.3s;
}
.open .color {
  transform: scale(100%);
}
.color:hover {
  transform: scale(140%);
}
.color_content {
  width: 34px;
  height: 34px;
  border-style: solid;
  border-radius: 50%;
  border-color: black;
}

#cor1{
    background-image: linear-gradient(to right, #f407e5 0%,  #065ef3 100%);
}
#cor2{
    background-image: linear-gradient(to right, #396afc 0% , #2948ff 100%);
}
#cor3{
    background-image: linear-gradient(to right, #3dd73f 0% , #0bb88e 100%);
}
#cor4{
    background-image: linear-gradient(to right, #069ab0 0% , #07c049 100%);
}
#cor5{
    background-image: linear-gradient(to right, #f12711 0% , #f5af19 100%);
}
#cor6{
    background-image: linear-gradient(to right, #f953c6 0%,  #b91d73 100%);
}
#cor7{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-image: var(--botao);

}
#cor8{
    background-image: linear-gradient(to right, #ED213A 0%,  #93291E 100%);
}


