/*Adição da fonte Montserrat ao programa */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");

/* Zerando o padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--peso);
}
:root {
  --fundo: linear-gradient(241.29deg, #111111 10.31%, #1a1919 93.41%);
  --texto: white;
  --botao: linear-gradient(
    257.91deg,
    #c366ff 17.54%,
    #d37fc8 54.55%,
    #e95582 72.93%
  );
  --botaoTxt: white;
  --input-fundo: white;
  --peso: 300;
  --fundoTranparencia: rgba(32, 32, 32, 0.406);
}

.white-mode:root {
  --fundo: linear-gradient(232.73deg, #fbfbfb 8.79%, #bebebe 84.88%);
  --texto: rgb(0, 0, 0);
  --botao: linear-gradient(
    260.02deg,
    #a6c3e4 -4.36%,
    #3f87dd -4.35%,
    #7db1ef 45.09%,
    #86bcfc 59.75%
  );
  --botaoTxt: rgb(3, 3, 3);
  --input-fundo: white;
  --peso: 500;
  --fundoTranparencia: rgba(107, 107, 107, 0.112);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--fundo);
  color: var(--texto);
}

textarea::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: rgb(198, 198, 198);
  border-radius: 20px; /* color of the tracking area */
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(46, 46, 46); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}
.inputs {
  display: flex;
  gap: 50px;
  justify-content: center;

}
#JS_input,
#HTML_input {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 80%;
  min-height: 500px;
  height: auto;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--fundoTranparencia);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
textarea {
  text-align: left;
  font-size: 1rem;
  margin-top: 15px;
  padding: 15px;
  background: var(--input-fundo);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  min-height: 300px;
  min-width: 430px;
  display: flex;
  justify-content: flex-start;
  border-style: none;
  resize:vertical;
}

#btnSubmit {
  width: 140px;
  height: 60px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  background: var(--botao);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: 5%;
  transition: 0.2s;
  color: white;
  font-weight: 500;
  border-style: none;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}
#btnSubmit:hover {
  transform: scale(110%);
}

:root {
  --comp: 40px;
  --alt: 60px;
  --corFundo: var(--botao);
}
.expandir:root {
  --comp: 350px;
  --alt: 300px;
  --corFundo: var(--fundoTranparencia);
}

.instrucoes {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--comp);
  height: var(--alt);
  top: 40vh;
  left: 0px;
  background: var(--corFundo);
  border-radius: 0px 10px 10px 0px;
  transition: 0.3s;
  cursor: pointer;
}
.instrucoes:hover {
  width: 65px;
}

.expandir .instrucoes .icone {
  display: none;
}
.expandir .instrucoes:hover {
  width: 400px;
}
.expandir .instrucoes {
  align-items: flex-start;
  backdrop-filter: blur(10px) saturate(177%);
  -webkit-backdrop-filter: blur(16px) saturate(177%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}
.expandir .instrucoes .textos {
  color: var(--texto);
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 250px;
  margin-left: 25px;
  margin-top: 15px;
  user-select: none;
  transition: 6s;
}


ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}


.icone {
  display: initial;
  width: 30px;
  transition: 0.3s;
}

.textos {
  display: none;
}
